<!doctype html>
<html class="no-js" lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TMS</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/flexslider.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/font-icon.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
<!--header navigation -->
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" th:href="@{/index}"><img src="images/TMS_icon03.png" alt=""></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a th:href="@{/index}">トップ</a></li>
          <li><a th:href="@{/logout}">ログアウト</a></li>
		  <li><a href="#">設定</a></li>
        </ul>
      </nav>
    	<a href="#" class="nav-toggle">Menu<span></span></a>
     </div>
      </header>
      <!--header navigation -->
  </section>
  
  	 <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">勤務ステータス一覧</div>
        <div class="panel-body">
        <br>
          <form class="form-inline">
            <div class="form-group">
              <label class="control-label" style="color:black; font-weight: normal">名前</label>
              <input class="form-control" style="width: 200px;" type="text">
            </div>
            <div class="form-group">
              <label class="control-label" style="color:black; font-weight: lighter">　ステータス</label>
              <select class="form-control" style="width: 200px;">
              	<option>--未選択--</option>
                <option>勤務中</option>
                <option>退勤</option>
              </select>
            </div>
            <button class="btn btn-default">検索</button>
          </form>
          <br>
        </div>
        <table class="table" style="color:black; text-align:center">
          <thead>
            <tr>
              <th style="text-align:center">社員番号</th>
              <th style="text-align:center">名前</th>
              <th style="text-align:center">社内連絡用アドレス</th>
              <th style="text-align:center">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user: ${workingList}">
              <td th:text ="${user.id}">1</td>
              <td th:text ="${user.name}">在原業平</td>
              <td th:text ="${user.email}">narichama@gmail.com</td>
              <td th:text ="${user.status}">勤務中</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>